@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --body-color:#E4E9F7;
  --nav-color: #fff;
  --side-nav: #010718;
  --text-color:#000;
  --search-bar:#F2F2F2;
  --search-text: #010718;
}

body {
  height: 100vh;
  background-color: var(--body-color);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
body.dark {
  --body-color:#18191A;
  --nav-color: #242526;
  --side-nav: #242526;
  --text-color:#ccc;
  --search-bar:#242526;

}
nav {
  font-family: 'Poppins', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--nav-color);
  z-index: 100;
}
nav .nav-bar {
  position: relative;
  height: 10vh;
  max-width: 1000px;
  width: 100%;
  background-color: var(--nav-color);
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-bar .logo a {
  font-size: 25px;
  text-decoration: none;
  font-weight: 500;
  color: var(--text-color);
  letter-spacing: 3px;
  font-weight: 600;
}

.nav-bar .nav-links {
  display: flex;
  align-items: center;
}
.nav-bar .nav-links li {
  list-style: none;
  margin: 0 5px;
}
.nav-bar .nav-links li a {
  position: relative;
  text-decoration: none;
  font-size: 400;
  color: var(--text-color);
  padding: 10px;

}

.nav-links li a::before {
  content: '';
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all .3s ease;
  background-color: green;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.nav-links li:hover a::before {
  opacity: 1;
}
.nav-bar .darkLight-searchBox {
  display: flex;
  align-items: center;
}
.nav-bar .darkLight-searchBox .dark-light,
.nav-bar .darkLight-searchBox .searchToggle {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var();
  margin:  0 5px;
}
.dark-light i,
.searchToggle i {
  position: absolute;
  color: var(--text-color);
  font-size: 22px;
  cursor: pointer;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.dark-light i.sun {
  opacity: 0;
  pointer-events: none;
}
.dark-light.active i.sun {
  opacity: 1;
  pointer-events: auto;
}
.dark-light.active i.moon {
  opacity: 0;
  pointer-events: none;
}
.searchToggle i.cancel {
  opacity: 0;
  pointer-events: none;
}
.searchToggle.active i.cancel {
  opacity: 1;
  pointer-events: auto;
}
.searchToggle.active i.search {
  opacity: 0;
  pointer-events: none;
}
.searchBox {
  position: relative;
}
.searchBox .search-field {
  position: absolute;
  bottom: -85px;
  right: 5px;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: var(--nav-color);
  padding: 3px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
/* .logo-toggle {
  color: white;
  z-index: 101;
} */
.searchToggle.active ~ .search-field{
  bottom: -74px;
  opacity: 1;
  pointer-events: auto;
}
.search-field::before {
  content: '';
  position: absolute;
  right: 14px;
  top: -4px;
  height: 12px;
  width: 12px;
  background-color: var(--nav-color);
  transform: rotate(-45deg);
  z-index: -1;  
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.search-field input {
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  color: var(--search-text);
  font-size: 14px;
  font-weight: 400px;
  background-color: var(--search-bar);
}
.search-field i {
  position: absolute;
  color: var(--search-text);
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}
.menu .logo-toggle {
  display: none;
}
nav .nav-bar .sidebarOpne {
  color: var(--text-color);
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}
/*Responsive Style*/
@media (max-width: 790px) {
  nav .nav-bar .sidebarOpne {
    display: block;
  }
  .menu {
    position: fixed;
    height: 100%;
    width: 320px;
    left: -100%;
    top: 0;
    background-color: var(--nav-color);
    padding: 20px;
    z-index: 100;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
  nav.active .menu {
    left: 0;
  }
  .menu .logo-toggle {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo-toggle .siderbarClose {
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
  }
  .nav-bar .nav-links {
    flex-direction: column;
    padding-top: 30px;
  }
  .nav-links li a {
    display: block;
    margin-top: 20px;
  }
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--nav-color);
  padding-top: 50px;
  display: flex;
  justify-content: center;
  
}
footer h2 {
  margin-bottom: 10px;
  color: var(--text-color);
}
footer i {
  font-size: 28px;
  color: var(--text-color);
}
.abc {
  position: absolute;
  text-align: center;
}
video {
  /** Simulationg background-size: cover */
  object-fit: cover;
  height: 100vh;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}
section .Intro {
  
  color: var(--body-color);
  font-size: 50px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
section .content {
  z-index: 99;
}
section .content .button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  
  
}
section .button a {
  background-color: var(--text-color);
  text-decoration: none;
  color: var(--body-color);
  padding: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2px;
}
.overlay {
  background-image: linear-gradient(to bottom right,var(--body-color),#258adc1a);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  padding: 15% 32px;
  line-height: 1.5;
  text-align: center;
}
.container{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
  z-index: 1;
  padding-bottom: 50px;
}
.cards {
  margin-top: 100vh;
}
.cards h1 {
  text-align: center;
  padding: 50px 0;
  color: var(--text-color);
}
.cards .Hints {
  color: black;
  z-index: 99;
  margin-top: 5000px;
}
.container .card{
  position: relative;
  width: 280px;
  height: 400px;
  
 
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius: 15px;
  background: rgba(255,255,255,0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255,255,255, 0.5);
  border-left: 1px solid rgba(255,255,255, 0.5);
  backdrop-filter: blur(5px);
}
.container .card .content{
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: ease-in-out .5s;
}
.container .card:hover .content{
  transform: translateY(0px);
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}

.container .card .content h2{
  position: absolute;
  top: -80px;
  right: 30px;
  font-size: 8em;
  color: var(--text-color);
  pointer-events: none;
}

.container .card .content h3{
  font-size: 1.8em;
  color: var(--text-color);
  z-index: 1;
}

.container .card .content .price{
  font-size: 40px;
  margin-bottom: 20px;
  font-size: 1.8em;
  color: var(--text-color);
  z-index: 1;
}

.container .card .content ul{
  margin: 0;
  padding: 0;
}

.container .card .content ul li{
  padding: 10px 0;
  list-style: none;
  font-size: 1em;
  color: var(--text-color);
  font-weight: 300;
}

.container .card .content a{
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

