* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
li, a, button {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}
.logo {
  cursor: pointer;
  width: 150px;
  height: 150px;
}
.nav__links {
  list-style: none;
}
.nav__links li {
  display: inline-block;
  padding-left: 20px;
}
.nav__links li a {
  transition: all .3s ease 0s;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
}
.nav__links li a:hover {
  color: #0088a9;
}
button {
  padding: 9px 25px;
  background-color: rgba(0,136,196,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgba(0,136,169,0.8);
}
.shape2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 20vh);
  background: #ccc;
}
.card {
  position: relative;
  width: 600px;
  height: 350px;
  background: #ccc;
  border-radius: 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  transition: .5s;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}
.card .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card .circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #d83133;
  clip-path: circle(120px at center);
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}
.card:hover .circle:before {
  background: #0065c3;
  clip-path: circle(400px at center);
}
.card img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 300px;
  pointer-events: none;
  transition: .3;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3;
}
.card:hover img {
  left: 72%;
  height: 500px;
}
.card .content {
  position: relative;
  width: 50%;
  left: 20%;
  padding: 20px 20px 20px 40px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  opacity: 0;
  visibility: hidden;
}
.card:hover .content {
  left: 0;
  opacity: 1;
  visibility: visible;
}
.card .content h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1em;
}
.card .content p {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 20px;
}
.card .content a {
  position: relative;
  color: #fff;
  padding: 10px 20px;
  background-color: #d83133;
}

@media (max-width:991px) {
  .card {
    width: auto;
    max-width: 350px;
    align-items: flex-start;
  }
  .card:hover {
    height: 450px;
  }
  .card .content {
    width: 100%;
    left: 0;
    padding: 30px;
  }
  .card:hover img {
    top: 70%;
    left: 50%;
    height: 300px;

  }
}